<h1>Listado de productos</h1>
<section>
    <ul>
    {{#each products}}
    <li id="productItem">
        Nombre: {{title}}
        precio: {{price}}
        Category: {{category}}
        Stock: {{stock}}
        On sale: {{onsale}}
    </li>

    {{/each}}
    </ul>
</section>