<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
<h1>Listado de productos</h1>
<section class="d-flex flex-wrap justify-content-evenly">

    {{#each products}}

    <div id="productItem">
        <img src={{image}} alt="">
        Nombre: {{title}}
        precio: {{price}}
        Category: {{category}}
        Stock: {{stock}}
        On sale: {{onsale}}
    </div>


    {{/each}}

</section>

</main>

<script src="/socket.io/socket.io.js"></script>